* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    color: #636363;
    font-size: 22px;
}

/* BEGIN HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mainheader {
    margin: auto;
    width: 65%;
}


.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content a {
    text-decoration: none;
}

.header__content nav {
    display: flex;
    align-items: center;

}

.header__content ul {
    margin-right: 10px;
}

.header__content li {
    padding: 50px 15px;
    display: inline-block;
    list-style: none;
}

.header__content li a {
    color: #070120;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.header__content i {
    font-size: 13px;
    margin-top: -3px;
    vertical-align: middle;
}


.header__content a span {
    display: inline-block;
    transition: all 0.5s;
}

.header__content li:hover a{
    color: #f55f8d;
}

.header__content li:hover span {
    animation: upToDown 0.4s;
}


.btn__gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d);

    margin: 10px;
    text-align: center;
    /*   tăng kích thước của màu nền, giúp vùng trải màu rộng hơn làm màu loan ra rộng hơn */
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    outline: 0;
    line-height: 18px;
    text-transform: uppercase;
}



.btn__gradient:hover {
    /*   Khi hover chỉnh vị trí ưu tiên hiển thị của màu nền. 
    Mặc định không xét giá trị cho background-position 
    thì sẽ có giá trị mặc định background-position: left top; 
    */
    background-position: right center;
}
/* END HEADER */


/* BEGIN CAROUSEL */

.carousel {
    padding-top: 170px;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    background-position: top;

}

.carousel__content {
    margin: auto;
    width: 65%;
}

.carousel__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel__left {
    width: 60%;
    line-height: 40px;
}

.carousel__right {
    width: 40%;
}

.left__title p {
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.left__title h2 {
    font-size: 70px;
    line-height: 75px;
    font-weight: 900;
    color: #262626;
    margin-bottom: 20px;
}


.left__acticle p {
    color: #757575;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 15px;
}

.left__acticle li {
    list-style: none;
    font-size: 20px;
    padding: 10px 5px 10px 0;

}

.left__acticle i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: white;
    margin-right: 10px;
}

.carousel__left .btn__gradient {

    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d);
    margin: 10px;
    text-align: center;
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    outline: 0;
    line-height: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.btn__gradient:hover {
    background-position: right center;
}

.carousel__image {
    width: 570px;
    margin-left: 50px;
}

.carousel__right img {
    max-width: 120%;
    display: block;
}
/* END CAROUSEL */


/* BEGIN SERVICES */

.services {
    background-image: url(../img/bg2.png);
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
}

.services__content {
    margin: auto;
    width: 63%;
}

.services__title p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 50px;
    color: #f55f8d;
}

.services__title h2 {
    font-size: 70px;
    line-height: 30px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 65px;
}

.services__mainitem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services__item {
    background: white;
    padding: 30px 45px;
    border-radius: 12px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: 0.5s;
}

.services__item:hover {
    transform: translateY(-30px);
    transition: 0.5s;
}

.services__item img {
    width: 215px;

}

.services__item h3 {
    font-weight: 700;
    font-size: 23px;
    color: #262626;
    margin: 15px 0;
}

.services__item p {
    line-height: 30px;
    font-size: 16px;
}
/* END SERVICES */


/* BEGIN ABOUTUS */

.AboutUs {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    overflow: hidden;
    padding-bottom: 80px;
    background-repeat: no-repeat;
}

.AboutUs-size {
    padding-top: 110px;
}

.AboutUs__content {
    margin: auto;
    width: 63%;
}

.AboutUs__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.AboutUs__left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.AboutUs__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.AboutUs__right {
    width: 50%;
}

.AboutUs__right p {
    margin-bottom: 15px;
}

.right__title {
    font-weight: 500;
    line-height: 40px;
}

.right__title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    color: #f55f8d;
}

.right__title h2 {
    font-size: 70px;
    line-height: 75px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.right__acticle p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 26px;
    font-weight: 500;
}

.right__acticle ul {
    margin-bottom: 25px;
    font-size: 16px;
}

.right__acticle li {
    list-style: none;
}

.right__acticle i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: 500;
    line-height: 40px;
}

.right__acticle .btn__gradient {

    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d);
    margin: 10px;
    text-align: center;
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    outline: 0;
    line-height: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.btn__gradient:hover {
    background-position: right center;
}
/* END ABUOTUS */


/* BEGIN NUMBER */
.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px 0;
    text-align: center;
    margin-bottom: 100px;
}

.number__content {
    margin: auto;
    width: 65%;
}

.number__mainitem {
    display: flex;
    justify-content: space-around;
}

.number__item {
    width: 25%;
}

.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}


.number__item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 65px;
    margin-bottom: 5px;
}

.number__item p:last-of-type {
    color: #262626;
    font-size: 18px;
}
/* END NUMBER */


/* BEGIN FEATURE */

.feature {
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.feature__content {
    margin: auto;
    width: 65%;
}

.feature__mainitem {
    display: flex;
}

.feature__left,
.feature__right {
    width: 50%;
}

.feature__left .left__title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.feature__left .left__title h2 {
    font-size: 70px;
    line-height: 75px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 30px;
}


.left__item {
    padding: 0 50px 30px 0;
    margin-bottom: 15px;
    position: relative;
}


.left__item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}


.item__title {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.item__title::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.item__title:hover::after {
    opacity: 1;
}

.item__title:hover div,
.item__title:hover h3,
.item__title:hover i {
    color: white
}

.item__title i {
    font-size: 80px;
    line-height: 85px;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.item__title div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.item__title h3 {
    font-weight: 800;
    color: #262626;
    font-size: 24px;
    transition: all 1s;
    margin-bottom: 10px;
}

.item__title p {
    font-size: 17px;
    line-height: 25px;
}

.right__banner {
    margin-right: -80px;
}

.right__banner img {
    max-width: 100%;
    animation: move2 5s infinite;
}
/* END FEATURE */


/* BEGIN PORTFOLIO */

.portfolio {
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-top: 100px;
}

.portfolio__content {
    margin: auto;
    width: 63%;
}

.portfolio__title {
    padding-bottom: 50px;

}

.portfolio__title p {
    color: #f55f8d;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.portfolio__title h2 {

    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: -25px;
}


.portfolio__mainitem {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 40px;
}

.portfolio__item {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
    transition: all 0.8s
}

.portfolio__item:hover::before {
    left: 100%
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all 0.8s
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1
}


.portfolio__icon {
    position: absolute;
    top: 23px;
    right: 23px;
    font-size: 27px;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    transform: translate(23px, -23px);
    transition: all 0.8s
}

.portfolio__item:hover .portfolio__icon {
    transform: translate(0)
}


.portfolio__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    line-height: 30px;
    transform: translateY(150px);
    transition: all 0.8s
}

.portfolio__item:hover .portfolio__text {
    transform: translateY(0)
}

.portfolio__text h3 {
    font-size: 23px;
    font-weight: 800;
    color: white
}

.portfolio__text p {
    color: white;
    font-size: 16px;
    opacity: 0.5
}

.portfolio__item img {
    width: 100%;
    height: 100%
}

.portfolio__icon a {
    cursor: pointer
}

.portfolio__item1 {
    grid-column: 1 / span 2;
}

.portfolio__item5 {
    grid-column: 1 / span 2;
}

.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}
/* END PORFORLIO */


/* BEGIN PLAN */

.plan {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center top;
    text-align: center;
    padding-top: 120px;
}

.plan__content {
    margin: auto;
    width: 63%;
}

.plan__title p {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.plan__title h2 {
    font-size: 70px;
    font-weight: 900;
    color: #262626;
    margin-bottom: 20px;
}

.plan__mainitem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 30px;
}

.plan__item {
    padding: 30px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}

.plan__item:hover {
    border-image: url(../img/br.png) 1 round;
}

.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 30px;
    margin-bottom: 15px;
}

.plan__item img {
    width: 130px;
    margin-bottom: 10px;
}

.plan__item p {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 15px;
}

.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__item ul {
    text-align: left;
    padding: 12px 0;
    border-top: 1px solid #e1e1f0;
    line-height: 30px;
    margin-bottom: -10px;
}

.plan__item li {
    padding: 5px 0;
    list-style: none;
    font-size: 18px;
    color: #262626;
    font-weight: 500
}

.plan__item i {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 15px;
}

.plan__mainitem .btn__gradient {

    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;

}

.btn__gradient:hover {
    background-position: right center;
}
/* END PLAN */

/*BEGIN TESTIMONIAL */

.testimonial{
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
}


.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}

.testimonial__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.testimonial__title h2{
    font-size: 70px;
    line-height: 75px;
    font-weight: 800;
    color: #262626;
    margin-bottom: -75px;
}


.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
}

.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-thumbs::after,.testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2
}

.testimonial-thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%)
}

.testimonial-thumbs::after {
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%)
}

.testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 0.8s;
    background-color: #f55f8d
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1
}

.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 0.8s
}

.testimonial-pic::after,.testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0
}

.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px
}

.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0
}

.swiper-slide-thumb-active .testimonial-pic::after,.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1
}

.swiper-pagination-bullets.swiper-pagination-horizontal,.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto
}

.swiper-pagination-bullet-active {
    background: #f55f8d
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: white;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-text i {
    position: absolute;
    top: 45px;
    left: 250px;
    font-size: 65px;
    color: #f55f8d;
    transform: rotate(-180deg)
}

.testimonial-text p {
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    font-style: italic;
    padding: 0 5px 15px
    
}

.testimonial-name {
    font-size: 25px;
    font-weight: 800;
    color: #000;
    line-height: 25px;
    margin-bottom: 10px
}

.testimonial-position {
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0
}
/* END TESTIMONIAL */


/* BEGIN BLOG */

.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 60px;
}

.blog__content{
    margin: auto;
    width: 65%;
}


.blog__title p{
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 15px;
    color: #f55f8d;
}

.blog__title h2{
    font-size: 70px;
    line-height: 80px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.blog__mainitem {
    text-align: left;

}

.blog__item{
    background: rgba(245,95,141,.1);
    border-radius: 8px
}

.blog__header {
    position: relative
}

.blog__header img {
    width: 100%;
    border-radius: 8px
}

.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px
}

.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px
}

.blog__body h3 {
    font-size: 24px;
    font-weight: 700;
    color: #262626
}

.blog__body p{
    font-size: 17px;
}
.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05)
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub
}

.blog__footer p:first-of-type {
    margin-right: 20px
}

.blog__footer p:first-of-type span {
    color: #f55f8d
}
/* END BLOG */


/* BEGIN FOOTER */

footer{
    background-image: url(../img/bg4.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: white;
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.footer__content{
    margin: auto;
    width: 63%;
}

.footer__top{
    padding: 50px 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer__text, .footer__form{
    width: 50%;
}

.footer__text h2{
    font-size: 27px;
    color: #262626;
}

.footer__form form{
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: white;
    flex: 1 1 auto;
    border-radius: 12px 0 0 12px;
    border: 1px solid white;
    outline: 0;
    transition: all 0.6s;
}

.footer__form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 12px 12px 0;
    color: white;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center
}

.footer__form button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block
}

.footer__bottom{
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item{
    width: 25%;
}


.footer__contact li{
    display: flex;
    align-items: center;
}


.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
}

.footer__item span{
    line-height: 23px;
    font-weight: 500;
}


.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: white;
}

.footer__item h3::after,.footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%
}

.footer__item h3::before {
    width: 15px
}

.footer__item h3::after {
    width: 50px;
    left: 20px
}

.footer__item li{
    padding: 10px 0;
    list-style: none;
}

.footer__item i{
    font-weight: 700;
    margin-right: 10px;
}

.footer__item a{
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
    text-decoration: none;
    line-height: 21px;
}

.footer__item a:hover {
    color: white
}

.footer__copyright{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.copyright__content{
    margin: auto;
    width: 63%;
    display: flex;
    justify-content: space-between;
}

.copyright__left{
    line-height: 35px;
    font-weight: 500;
}

.copyright__left span{
    color: #f55f8d;;
}

.copyright__right a{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255,255,255,.1);
    transition: all 0.5s;
}
.copyright__right a:hover {
    background: #f55f8d
}

/* BACKTOTOP */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all 0.4s;
    font-size: 18px;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1
}
/* END FOOTER */


/* ANIMATION */
@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}


@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px)
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px)
    }
}


@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        transform: translateX(-100%)
    }

    51% {
        opacity: 1
    }
}